mat-nav-list > mat-list-item {
  color: white;
}

mat-icon.mat-icon.material-icons {
  margin-top: 0%;
}

.nav-caption {
  display: inline-block;
  padding-left: 10px;
}

.menu-perfil {
    margin-top: 8%!important;
    margin-left: 25px;
}

mat-list-item {
  margin-bottom: 10px;
}

.m-top{
    margin-top: 5px;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}