<mat-nav-list>
    <% if (auth) { %>
    <mat-list-item style="margin-top: 20px;" [matMenuTriggerFor]="menu" *ngIf="currentUser">
        <div fxFlex fxLayout="column">
            <div fxFlex fxLayout="row">
                <b>Olá</b>,
            </div>
        </div>
        <mat-icon>arrow_drop_down</mat-icon>
        <mat-menu xPosition="before" #menu="matMenu">
            <button (click)="logout()" mat-menu-item>
                SAIR
                <mat-icon fxFlex fxLayoutAlign="end" class="menu-perfil">power_settings_new</mat-icon>
            </button>
        </mat-menu>
    </mat-list-item>
    <% } %>
    <br><br>
    <mat-list-item>
        <a (click)="CloseSidenav()" mat-list-item routerLink="/">
            INICIO
        </a>
    </mat-list-item>
    <% if (auth) { %>
    <mat-list-item *ngIf="!currentUser">
        <a (click)="CloseSidenav()" mat-list-item routerLink="/login">
            ENTRAR
        </a>
    </mat-list-item>

    <mat-list-item *ngIf="!currentUser">
        <a (click)="CloseSidenav()" mat-list-item routerLink="/signup">
            CADASTRAR
        </a>
    </mat-list-item>
    <% } %>
</mat-nav-list>